
.land-container{
    background: black;
  }
/*
  .landing{
    background: url('https://picsum.photos/800/600'), lightgray 50% / cover no-repeat, #FFF;
    height: 35vw;
    width: 50vw;
    border: 1px solid black;
  }

  